@model ShoeStore.Domain.DTOs.AdminSide.Product.ProductDetailsDTO



<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>جزئیات محصول</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">محصولات</li>
                        <li class="breadcrumb-item active">جزئیات محصول</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row product-adding">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>عمومی</h5>
                    </div>
                    @if (Model.ProductImage != null)
                    {
                        <img src="/images/ProductImage/@Model.ProductImage" alt="" class="img-fluid image_zoom_1 blur-up lazyloaded m-4">
                    }
                    else
                    {
                        <img src="/images/ProductImage/default.png" alt="" class="img-fluid image_zoom_1 blur-up lazyloaded m-4">
                    }
                    <div class="col-lg-10 m-4">
                        <div class="product-right product-description-box">

                            <h2>@Model.ProductName</h2>

                            <div class="single-product-tables border-product detail-section">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><h6 class="product-title">دسته بندی : </h6></td>
                                            <td><h6 class="product-title">@Model.ProductCategoryName</h6></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="single-product-tables border-product detail-section">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><h6 class="product-title">قیمت : </h6></td>
                                            <td><h6 class="product-title">@Model.Price</h6></td>
                                        </tr>
                                        <tr>
                                            <td><h6 class="product-title">تخفیف : </h6></td>
                                            <td><h6 class="product-title">@Model.DiscountPercentage %</h6></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="border-product">
                                <h6 class="product-title">جزئیات محصول </h6>
                                <p>@Model.Description</p>
                            </div>
                            <a class="btn btn-primary" asp-action="EditProduct" asp-area="Admin" asp-controller="Product" asp-route-productId="@Model.ProductId">ویرایش اطلاعات عمومی</a>
                            <a class="btn btn-primary" asp-action="ListOfProducts" asp-area="Admin" asp-controller="Product">بازگشت</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>ویژگی ها</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <div class="form-group mb-0">
                                @if (Model.ProductFeatureDTOs != null && Model.ProductFeatureDTOs.Any())
                                {
                                    <table>
                                        <tbody>
                                            @foreach (var item in Model.ProductFeatureDTOs)
                                            {
                                                <tr>
                                                    <td><h6 class="product-title">@item.FeatureTitle : </h6></td>
                                                    <td><h6 class="product-title">@item.FeatureDescription</h6></td>
                                                    <td><a asp-action="DeleteProductFeature" asp-area="Admin" asp-controller="Product" asp-route-productFeatureId="@item.Id" class="fa fa-trash font-danger"></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <h6 class="product-title">تا کنون ویژگی ای ثبت نشده!</h6>
                                }
                            </div>
                        </div>
                        <form class="mt-5" asp-action="AddProductFeature" asp-area="Admin" asp-controller="Product" method="post" asp-route-productId="@Model.ProductId">
                            <div class="form-group">
                                <label class="col-form-label pt-0"> عنوان ویژگی </label>
                                <input class="form-control" type="text" required="" name="FeatureTitle">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label pt-0"> شرح ویژگی </label>
                                <input class="form-control" type="text" required="" name="FeatureDescription">
                            </div>

                            <button type="submit" class="btn btn-primary">درج ویژگی جدید</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5>موجودی ها</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <div class="form-group mb-0">
                                @if (Model.ProductItemDTOs != null && Model.ProductItemDTOs.Any())
                                {
                                    <table>
                                        <tbody>
                                            @foreach (var item in Model.ProductItemDTOs)
                                            {
                                                <tr>
                                                    <td><h6 class="product-title">سایز @item.SizeNumber : </h6></td>
                                                    <td><h6 class="product-title">@item.Count عدد</h6></td>
                                                    <td><a asp-action="DeleteProductItem" asp-area="Admin" asp-controller="Product" asp-route-productItemId="@item.Id" class="fa fa-trash font-danger"></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <h6 class="product-title">تا کنون موجودی ای ثبت نشده!</h6>
                                }
                            </div>
                        </div>
                        <form class="mt-5" asp-action="AddProductItem" asp-area="Admin" asp-controller="Product" method="post" asp-route-productId="@Model.ProductId">
                            <div class="digital-add needs-validation">
                                <div class="form-group">
                                    <label class="col-form-label pt-0">سایز</label>
                                    <select asp-items="@ViewBag.Sizes" class="form-control" required="" name="sizeId"></select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label pt-0">تعداد موجودی سایز</label>
                                    <input class="form-control" type="number" required="" name="Count">
                                </div>
                                <div class="form-group mb-0">
                                    <div class="product-buttons">
                                        <button type="submit" class="btn btn-primary">درج موجودی جدید</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
