@model IEnumerable<ShoeStore.Domain.DTOs.AdminSide.Role.RoleDto>


<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            لیست منو
                            <small>پنل مدیریت مالتی کارت</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item">
                            <a href="~/index.html">
                                <i data-feather="home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">منو </li>
                        <li class="breadcrumb-item active">لیست منو</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <form class="form-inline search-form search-box">
                            <div class="form-group">
                                <input class="form-control-plaintext" type="search" placeholder="جستجو...">
                            </div>
                        </form>

                        <a href="~/create-menu.html" class="btn btn-primary mt-md-0 mt-2">درج منو</a>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive table-desi">
                            <table class="all-package coupon-table table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <button type="button" class="btn btn-primary add-row delete_all">حذف </button>
                                        </th>
                                        <th>عنوان نقش </th>
                                        <th>عنوان Unique </th>
                                        <th>ایجاد شده در</th>
                                    </tr>
                                </thead>

                                <tbody>
                                @foreach (var role in Model)
                                {
                                    <tr data-row-id="@role.RoleId">
                                        <td>
                                            <input class="checkbox_animated check-it" type="checkbox" value="" id="flexCheckDefault" data-id="@role.RoleId">
                                        </td>

                                        <td>@role.RoleTitle </td>
                                        <td>@role.RoleUniqueName </td>

                                        <td class="list-date">@role.CreateDate</td>
                                    </tr>
                                }
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>