@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ShoeStore.Application.Utilities
@model ShoeStore.Domain.DTOs.SiteSide.Product.ProductPageDTO



@await Component.InvokeAsync("ProductPageBreadCrumb", new { childCategoryId = Model.ProductCategoryId});
<!-- section start -->
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-10 col-xs-12">
                    <div class="product-right-slick">
                        @if (Model.ProductImage != null)
                        {
                            <div><img src="/images/ProductImage/@Model.ProductImage" alt="" class="img-fluid blur-up lazyload image_zoom_cls-0"></div>
                        }
                        else
                        {
                            <div><img src="/images/ProductImage/default.png" alt="" class="img-fluid blur-up lazyload image_zoom_cls-0"></div>
                        }
                    </div>
                </div>
                <div class="col-lg-1 col-sm-2 col-xs-12">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-right-nav">
                                @* <div><img src="../assets/images/pro3/@Model.ProductImage" alt="" class="img-fluid blur-up lazyload"></div>
                                <div><img src="../assets/images/pro3/2.jpg" alt="" class="img-fluid blur-up lazyload"></div>
                                <div><img src="../assets/images/pro3/27.jpg" alt="" class="img-fluid blur-up lazyload"></div>
                                <div><img src="../assets/images/pro3/27.jpg" alt="" class="img-fluid blur-up lazyload"></div> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-right product-description-box">

                        <h2>@Model.Name</h2>
                        <div class="border-product">
                            <h6 class="product-title">جزئیات محصول </h6>
                            <p>@Model.Description</p>
                        </div>
                        <div class="single-product-tables border-product detail-section">
                            <table>
                                <tbody>
                                    @if (Model.ProductFeatureDTOs != null && Model.ProductFeatureDTOs.Any())
                                    {
                                        @foreach (var feature in Model.ProductFeatureDTOs)
                                        {
                                            <tr>
                                                <td>@feature.FeatureTitle : </td>
                                                <td>@feature.FeatureDescription</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">آن را به اشتراک بگذارید</h6>
                            <div class="product-icon">
                                <ul class="product-social">
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-right product-form-box">
                        @if (Model.DiscountPercentage > 0)
                        {
                            <h4><del>@Model.Price</del><span>تخفیف</span></h4>
                            <h3>@((Model.Price * (100 - Model.DiscountPercentage))/100)</h3>
                        }
                        else
                        {
                            <h3>@Model.Price</h3>
                        }


                        <form asp-action="AddToShopCart" asp-controller="Order" method="post">

                            <div id="selectSize" class="addeffect-section product-description border-product">

                                <h6 class="product-title">اندازه را انتخاب کنید</h6>
                                <div class="modal fade" id="sizemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">@Model.Name</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body"><img src="../assets/images/size-chart.jpg" alt="" class="img-fluid blur-up lazyload"></div>
                                        </div>
                                    </div>
                                </div>

                                @* <h6 class="error-message">اندازه را انتخاب کنید</h6> *@
                                <div class="size-box">
                                    @if (Model.SizeDTOs != null && Model.SizeDTOs.Any())
                                    {
                                        <select name="productItemId" asp-items="@ViewBag.Sizes"></select>
                                    }
                                    else
                                    {
                                        <h3 style="color:red">ناموجود</h3>
                                    }
                                </div>
                                <h6 class="product-title">تعداد </h6>
                                <div class="qty-box">
                                    <div class="input-group">
                                        @* <span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-right"></i></button> </span> *@
                                        <input type="number" name="count" class="form-control input-number">
                                        @* <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-left"></i></button></span> *@
                                    </div>
                                </div>
                            </div>
                            <div class="product-buttons">
                                @if (Model.SizeDTOs != null && Model.SizeDTOs.Any())
                                {
                                    <button type="submit"  asp-all-route-Count="count"  href="javascript:void(0)" id="cartEffect" class="btn btn-solid hover-solid btn-animation">اضافه کردن به سبد</button>
                                } 
                                <a asp-controller="FavoriteProduct" asp-action="AddFavoriteProduct" asp-route-productId="@Model.ProductId" asp-route-userId="@User.GetUserId()" class="btn btn-solid">علاقه مندی</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- product-tab starts -->
<section class="tab-product m-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home" role="tab" aria-selected="true"><i class="icofont icofont-ui-home"></i>جزئیات </a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-top-tab" data-bs-toggle="tab" href="#top-profile" role="tab" aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>مشخصات </a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="listOfComments-top-tab" data-bs-toggle="tab" href="#top-comments" role="tab" aria-selected="false"><i class="icofont icofont-contacts"></i>نظرات </a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="review-top-tab" data-bs-toggle="tab" href="#top-review" role="tab" aria-selected="false"><i class="icofont icofont-contacts"></i>نظر بنویسید </a>
                        <div class="material-border"></div>
                    </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                        <div class="product-tab-discription">
                            <p>@Model.Description</p>
                            @* <div class="part">
                            <p>این مدل یک بلوز سفید از مجموعه استایلیست ما پوشیده است، تصویر را برای ماکتی از ظاهر بلوز واقعی مشاهده کنید. روی آن متنی به زبان شکسته مشکی نوشته شده است که در رنگ سفید عالی به نظر می رسد.</p>
                            </div>
                            <div class="part">
                            <h5 class="inner-title">پارچه:</h5>
                            <p>این مدل یک بلوز سفید از مجموعه استایلیست ما پوشیده است، تصویر را برای ماکتی از ظاهر بلوز واقعی مشاهده کنید. روی آن متنی به زبان شکسته مشکی نوشته شده است که در رنگ سفید عالی به نظر می رسد.</p>
                            </div>
                            <div class="part">
                            <h5 class="inner-title">اندازه و تناسب:</h5>
                            <p>مدل (قد 5'8 اینچ) سایز   پوشیده است</p>
                            </div>
                            <div class="part">
                            <h5 class="inner-title">مواد و مراقبت:</h5>
                            <p>نوع پارچه : پنبه </p>
                            <p>نوع پارچه : پنبه</p>
                            <p>نوع پارچه : پنبه</p>
                            </div> *@
                        </div>
                    </div>
                    <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                        @*<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>*@
                        <div class="single-product-tables">
                            <table>
                                <tbody>
                                    @if (Model.ProductFeatureDTOs != null && Model.ProductFeatureDTOs.Any())
                                    {
                                        @foreach (var feature in Model.ProductFeatureDTOs)
                                        {
                                            <tr>
                                                <td>@feature.FeatureTitle : </td>
                                                <td>@feature.FeatureDescription</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            @* <table>
                            <tbody>
                            <tr>
                            <td>پارچه </td>
                            <td>پلی استر</td>
                            </tr>
                            <tr>
                            <td>مناسب </td>
                            <td>تناسب منظم </td>
                            </tr>
                            </tbody>
                            </table> *@
                        </div>
                    </div>
                    <div class="tab-pane fade" id="top-comments" role="tabpanel" aria-labelledby="listOfComments-top-tab">
                        <div class="row section-b-space blog-detail-page ratio2_3">
                            <div class="col-sm-12">
                                <ul class="comment-section">
                                    <li>
                                        <div class="media">
                                            <img src="/images/Defult.jpg" alt="عکس محصول ">
                                            <div class="media-body">
                                                <h6>مارک جکنو <span>(12 تیر 1401 ساعت 11:30 )</span></h6>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img src="/images/Defult.jpg" alt="عکس محصول ">
                                            <div class="media-body">
                                                <h6>مارک جکنو <span>(12 تیر 1401 ساعت 11:30 )</span></h6>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img src="/images/Defult.jpg" alt="عکس محصول ">
                                            <div class="media-body">
                                                <h6>مارک جکنو <span>(12 تیر 1401 ساعت 11:30 )</span></h6>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                        <form class="theme-form">
                            <div class="form-row row">
                                <div class="col-md-6">
                                    <label for="name">نام</label>
                                    <input type="text" class="form-control" id="name" placeholder="نام خود را وارد کنید " required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="email">ایمیل</label>
                                    <input type="text" class="form-control" id="email" placeholder="ایمیل" required="">
                                </div>
                                <div class="col-md-12">
                                    <label for="review">عنوان نظر </label>
                                    <input type="text" class="form-control" id="review" placeholder="موضوع را وارد کنید " required="">
                                </div>
                                <div class="col-md-12">
                                    <label for="review">عنوان نظر </label>
                                    <textarea class="form-control" placeholder="متن خود را وارد کنید " id="exampleFormControlTextarea1" rows="6"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-solid" type="submit">نظر خود را ارسال کنید</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-tab ends -->
<!-- product section start -->
@await Component.InvokeAsync("RelatedProducts", new { categoryId = Model.ProductCategoryId })
<!-- product section end -->
<!-- theme setting -->


<!-- theme setting -->
<!-- Add to cart modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal cart-modal" id="addtocart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modal1">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="modal-bg addtocart">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="media">
                                    <a href="#">
                                        <img class="img-fluid blur-up lazyload pro-img" src="../assets/images/fashion/product/43.jpg" alt="">
                                    </a>
                                    <div class="media-body align-self-center text-center">
                                        <a href="#">
                                            <h6>
                                                <i class="fa fa-check"></i>ایتم
                                                <span>محصولات زیبایی </span>
                                                <span> با موفقیت به سبد اضافه شد </span>
                                            </h6>
                                        </a>
                                        <div class="buttons">
                                            <a href="#" class="view-cart btn btn-solid">سبد خرید شما </a>
                                            <a href="#" class="checkout btn btn-solid">بررسی</a>
                                            <a href="#" class="continue btn btn-solid">ادامه خرید </a>
                                        </div>

                                        <div class="upsell_payment">
                                            <img src="../assets/images/payment_cart.png" class="img-fluid blur-up lazyload" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="product-section">
                                    <div class="col-12 product-upsell text-center">
                                        <h4>لیست کامل خرید</h4>
                                    </div>
                                    <div class="row" id="upsell_product">
                                        <div class="product-box col-sm-3 col-6">
                                            <div class="img-wrapper">
                                                <div class="front">
                                                    <a href="#">
                                                        <img src="../assets/images/fashion/product/1.jpg" class="img-fluid blur-up lazyload mb-1" alt="cotton top">
                                                    </a>
                                                </div>
                                                <div class="product-detail">
                                                    <h6><a href="#"><span>ساعت خاص </span></a></h6>
                                                    <h4><span>125</span></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-box col-sm-3 col-6">
                                            <div class="img-wrapper">
                                                <div class="front">
                                                    <a href="#">
                                                        <img src="../assets/images/fashion/product/34.jpg" class="img-fluid blur-up lazyload mb-1" alt="cotton top">
                                                    </a>
                                                </div>
                                                <div class="product-detail">
                                                    <h6><a href="#"><span>ساعت خاص </span></a></h6>
                                                    <h4><span>125</span></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-box col-sm-3 col-6">
                                            <div class="img-wrapper">
                                                <div class="front">
                                                    <a href="#">
                                                        <img src="../assets/images/fashion/product/13.jpg" class="img-fluid blur-up lazyload mb-1" alt="cotton top">
                                                    </a>
                                                </div>
                                                <div class="product-detail">
                                                    <h6><a href="#"><span>ساعت خاص </span></a></h6>
                                                    <h4><span>125</span></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-box col-sm-3 col-6">
                                            <div class="img-wrapper">
                                                <div class="front">
                                                    <a href="#">
                                                        <img src="../assets/images/fashion/product/19.jpg" class="img-fluid blur-up lazyload mb-1" alt="cotton top">
                                                    </a>
                                                </div>
                                                <div class="product-detail">
                                                    <h6><a href="#"><span>ساعت خاص </span></a></h6>
                                                    <h4><span>125</span></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add to cart modal popup end-->
<!-- tap to top start -->
<div class="tap-top">
    <div><i class="fa fa-angle-double-up"></i></div>
</div>
<!-- tap to top end -->
@* <!-- sticky cart bottom start -->
<div class="sticky-bottom-cart d-sm-block d-none">
    <div class="container">
        <div class="cart-content">
            <div class="product-image">
                <img src="../assets/images/pro3/1.jpg" class="img-fluid" alt="">
                <div class="content d-lg-block d-none">
                    <h5>پیراهن صورتی زنانه</h5>
                    <h6>132.96<del>1459.00</del><span>55% تخفیف </span></h6>
                </div>
            </div>
            <div class="selection-section">
                <div class="form-group mb-0">
                    <select id="inputState" class="form-control">
                        <option selected="">انتخاب رنگ : </option>
                        <option>صورتی </option>
                        <option>آبی </option>
                        <option>خاکستری </option>
                    </select>
                </div>
                <div class="form-group mb-0">
                    <select id="inputState" class="form-control">
                        <option selected="">انتخاب سایز ...</option>
                        <option>کوچک</option>
                        <option>متوسط</option>
                        <option>بزرگ </option>
                        <option>خیلی بزرگ </option>
                    </select>
                </div>
            </div>
            <div class="add-btn">
                <a data-bs-toggle="modal" data-bs-target="#addtocart" href="" class="btn btn-solid btn-sm">اضافه کردن به سبد</a>
            </div>
        </div>
    </div>
</div>
<!-- sticky cart bottom end -->
*@
<!-- اضافه کردن به سبد notification -->
<div class="added-notification">
    <img src="../assets/images/fashion/pro/1.jpg" class="img-fluid" alt="">
    <h3>اضافه کردن به سبد</h3>
</div>
<!-- اضافه کردن به سبد notification --> 
