@model ICollection<ShoeStore.Domain.DTOs.SiteSide.Product.ProductPostDTO>


<section class="section-b-space ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col-12 product-related">
                <h2>محصولات مرتبط</h2>
            </div>
        </div>
        <div class="row search-product">
            @if(Model!=null && Model.Any()){
                @foreach(var item in Model){
                    <div class="col-xl-2 col-md-4 col-6">
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="front">
                                    @if (@item.ProductImage != null)
                                    {
                                        <a asp-action="Index" asp-controller="Product" asp-route-productId="@item.ProductId"><img src="/images/ProductImage/@item.ProductImage" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                    } else
                                    {
                                        <a asp-action="Index" asp-controller="Product" asp-route-productId="@item.ProductId"><img src="/images/ProductImage/default.png" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                    }

                                </div>
                                <div class="back">
                                    @if (@item.ProductImage != null)
                                    {
                                        <a asp-action="Index" asp-controller="Product" asp-route-productId="@item.ProductId"><img src="/images/ProductImage/@item.ProductImage" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index" asp-controller="Product" asp-route-productId="@item.ProductId"><img src="/images/ProductImage/default.png" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                    }
                                </div>
                                <div class="cart-info cart-wrap">
                                      <a href="javascript:void(0)" title="اضافه کردن به علاقه مندی"><i class="ti-heart" aria-hidden="true"></i></a> 
                                      <a asp-action="Index" asp-controller="Product" asp-route-productId="@item.ProductId" data-bs-toggle="modal" data-bs-target="#quick-view" title="دیدن سریع"><i class="ti-search" aria-hidden="true"></i></a> 
                                </div>
                            </div>
                            <div class="product-detail">
                                
                                <a asp-action="Index" asp-controller="Product" asp-route-productId="@item.ProductId">
                                    <h6>@item.Name</h6>
                                </a>
                                @if (item.DiscountPercentage > 0)
                                {
                                    <h5><del>@item.Price</del></h5>
                                    <h4>@(item.Price * (100-item.DiscountPercentage))</h4>
                                } else
                                {
                                    <h4>@item.Price</h4>
                                }

                                
                            </div>
                        </div>
                    </div>
                }
            }
            
        </div>
    </div>
</section>
